* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}

.years {
    margin-top: 10px;
    margin-left: 50px;
}
.inputy {
    margin-top: 7px;
}

.words {
    margin-top: 30px;
    margin-left: 50px;
}
.inputw {
    margin-top: 7px;
}